<div class="row">
<div class="col-md-8">
	<h1>Overview</h1>
<p class="lead">The purpose of this project is to explore Ruby on Rails and Polymer integration. For this project, it was decided that existing polymer elements WOULD NOT be used.  Instead, the main purposes of this project were to:</p>
<ol class="lead">
	<li>Explore/Understand MVC architecture</li>
	<li>Explore basic database integration with Rails and be able to create,revise,update, and delete data</li>
	<li>Integrate custom polymer components</li>
	<li>Explore user creation/login functionality</li>
	</ol>
</div>

<aside class="col-md-4">
	<h3>Resources cited</h3>
<ul>
	<li>http://guides.rubyonrails.org/getting_started.html</li>
	<li>https://github.com/alchaplinsky/polymer-rails</li>
	<li>http://stackoverflow.com/questions/20768915/submit-button-text-comes-from-where-ruby-on-rails</li>
	<li>https://www.railstutorial.org/book/sign_up</li>
	<li>https://www.sitepoint.com/basics-capybara-improving-tests/</li>
	<li>http://www.rubydoc.info/github/teamcapybara/capybara</li>
	<li>http://codegram.github.io/spinach/readme.html</li>
	<li>https://www.devmynd.com/blog/setting-up-rspec-and-capybara-in-rails-5-for-testing/</li>
</ul>

<h3>Note:</h3>
might need to run "brew install chromedriver" according to https://www.devmynd.com/blog/setting-up-rspec-and-capybara-in-rails-5-for-testing/


<h3>Future Enhancements</h3>
	<ul>
		<li>New User Registration Profile Editing</li>
		<li>Implement Gallery per user</li>
		<li>Integrate Polymer v2 as the current rails/polymer gem is for v1</h2>
		</ul>

</aside>
</div>


<!-- <first-component></first-component> -->
  
<script>
$(window).load(function(){eqHeight();});

  $(window).resize(function(event) {
    /* Act on the event */
    eqHeight();
  });
</script>