<h1>Test Users</h1>
<p class="fineprint">Because I'm forgetfull</p>
<ul>
	<li>jdoe@mdlive.com / mdlive123</il>
</ul>
Capybara testing
<br>
https://www.youtube.com/watch?v=AQ-Vf157Ju8
<br>
generate integration_test
<br>
rspec gem should be installed at beginning of project
<br>
Cheetsheet
https://gist.github.com/zhengjia/428105