<h1>Gallery Element Implementation</h1>
<p>&lt;gallery-element alttext="this is the alttext" imgurl="http://media.caranddriver.com/images/media/331369/m-is-for-mega-2015-bmw-m3-pricing-surfaces-photo-583888-s-450x274.jpg" category="vehicles" description="This is my description"&gt;&lt;/gallery-element&gt;</p>


<h2>Display</h2>
<gallery-element alttext="this is the alttext" imgurl="http://media.caranddriver.com/images/media/331369/m-is-for-mega-2015-bmw-m3-pricing-surfaces-photo-583888-s-450x274.jpg" category="vehicles" description="This is my description"></gallery-element>

<hr>
