<% if logged_in? %>
<h2>New Media File</h2>

<%= render('form') %>
<hr>
<%= link_to 'Back to Media Files', mediafiles_path %>

<% else  %>

NICE TRY. You need to be an admin to create
<script type="text/javascript">
    window.location.href="<%= mediafiles_path %>"  // put your correct path in a string here
  </script>
<% end %>
